react/praticando/node_modules

OpenCV/treinar_cascade/data/*
OpenCV/treinar_cascade/negativas/*
OpenCV/treinar_cascade/positivas/*
OpenCV/treinar_cascade/vetores/*
OpenCV/treinar_cascade/infos/*
OpenCV/treinar_cascade/data/*
Django/venv/*
Django/API/db.*
