<!DOCTYPE html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <title>NODE.JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <button class="btn" onclick="location.href = 'teste/'">Listar</button>
    <button class="btn" onclick="location.href = 'form/'">adicionar</button>
</body>

</html>